name: "Test"

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths: &paths
      - ".github/workflows/test.yaml"
      - "src/**"
      - "tests/**"
      - "pyproject.toml"
      - "uv.lock"
  pull_request:
    branches: [master]
    paths: *paths

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: "Build"
    if: ${{ !contains(github.event.head_commit.message, '#notest') }}
    uses: ./.github/workflows/build.yaml
    with:
      version: ${{ github.ref_name }}
      version-file: ""

  test:
    name: "Test"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Debug event.json"
        continue-on-error: true
        run: cat "${GITHUB_EVENT_PATH}"
      - name: "Debug CTX github"
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"
      - name: "Debug Environment"
        continue-on-error: true
        run: env

      - name: "Download Artifact"
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist

      - name: "Install UV"
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - name: "Install Python ${{ matrix.version }}"
        run: |
          uv python install ${{ matrix.version }}
          uv venv --no-project --no-config

      - name: "Install ${{ matrix.version }}"
        run: |
          uv pip install --no-config pytest
          uv pip install --no-config dist/*.whl

      - name: "Test ${{ matrix.version }}"
        run: |
          source .venv/bin/activate
          pytest -s
